{% extends "__MYAPPNAME__/base.html" %}

{% load static %}

{% block header %}
<title>Template Application: Secure</title>
{% endblock header %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p>
      <img width="25%" align="middle" src="{% static 'images/Logo_0512x.png' %}">
    </p>
  </div>
</div>
<hr>
<div class="container">
  <a class="btn btn-primary" href="{% url 'main' %}">Return to Main Page</a>
  <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
</div>
<hr>
<h1>Secure Content</h1>
<p>
  Welcome! You are securely logged in.
</p>
{% endblock body %}
